#org1, #org2, #org3, #org4, #org5 {

  width: 450px;
  height: 200px;
  border: 2px solid #939393;
  padding: 10px;
  background-color:#f2f2f2;

}

#org1:hover, #org2:hover, #org3:hover, #org4:hover, #org5:hover, #drop1a:hover, #drop2a:hover, #drop3a:hover, #drop4a:hover, #drop5a:hover {
  border-color: black;
  border-width: 2px;
}

#drop1a, #drop2a, #drop3a, #drop4a, #drop5a {

  width: 450px;
  height: 200px;
  border: 2px solid #939393;
  position: relative;
  right: -935px;
  bottom: 1115px;
  padding: 10px;
  background-color:#f2f2f2;

}

#drag1, #drag2, #drag3, #drag4, #drag5 {
  width: 350px;
  height: 125px;

}

#nextBtn {
  display: none;
}

#end {

  position: fixed;
  bottom : 800px;
}

.ansText {
  font-family: "Arial Black", Gadget, sans-serif;
  padding-top: 25px;
  text-align: center;
}

body{
  background-color: thistle;
}

.btn {
 background-color: #4CAF50;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 cursor: pointer;
 box-shadow: 3px 4px #000;
}

#end {
  position: fixed;
  width: 15%;
  bottom: 10px;

}
